.pytest_cache
.vscode
env
Exercises1.py
ExercisesModuleEnd1.py
problem1_1.py
problem1_2.py
problem1_3.py
problem1_4.py
problem1_5.py
problem1_6.py
problem1_7.py
ProblemSet1.py
TIPS-Module-1.TXT
ADream.txt
BooksRead.csv
copy_file_worked.py
count_words.py
Exercises2.py
Exercises3.py
flowers.csv
hello.py
HumptyDumpty.txt
lwc.py
menu.csv
phones.csv
print_file.py
ProblemSet2.py
weights.csv
problem2_1.py
problem2_2.py
problem2_3.py
problem2_4.py
problem2_5.py
problem2_6.py
problem2_7.py
problem2_8.py
problem3_1.py
problem3_2.py
problem3_3.py
problem3_4.py
problem3_5.py
problem3_6.py
problem3_7.py
ADreamheight.txt
Exercises4_origin.py
humptyheight.txt
newhumpty.txt
phones.py
ProblemSet3.py
ProblemSet4.py
